.center {
  
    width:100%;
    height: 100%;

}
body{
    margin-top:0px;
   background-color: #2980b9;
  
}
/*Aqui va todo sobre el nav-bar*/
#Menu1{
    align-content: center;
    background-color: #2980b9;
    width: auto;
    height: 60%;
    padding-right: 2px;
    float:left;
    display: block;
    font-size:18px;
    
}
#Menu1 a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    color:white;
    text-shadow:2px 2px rgba(0,0,0,0.75);
}
#Menu1 ul.level1 a:hover{
    background-size:auto;
    color: #a2d422;
    
}
#Menu1 ul.level1 {
   
    background-color: #2980b9;
    font-size: 18px;
   
}
#Menu1 ul.level2 {  
    background-color: #2980b9;
    font-size: 18px;
   
}
input[type=button]{
    background-color:white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ventas{
    padding-left: 5%;
}
legend{
    text-align: center;
    color: #b92727 !important;
    border-color: #7da518 !important;
    border-color: -moz-use-text-color -moz-use-text-color #7da518!important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flood-opacity:inherit;
}

.GridView1,button{
    color: red;
}
.mGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    border: solid 1px #525252;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    color: #1c2c86;   
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #fff;   
    background: #7da518 url(grd_head.png) repeat-x top;   
    border-left: solid 1px #525252;   
    font-size: 0.9em;   
}  
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }

